<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwq.dao.AddressMapper">

    <resultMap id="CityMap" type="com.zwq.domain.City">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="areaCode" column="area_code"/>
        <!-- 跟一对一一样用association标签,实体类定义的成员,要跟数据库字段名对应上 -->
        <association property="province" column="province_id"
                     select="com.zwq.dao.AddressMapper.getProvinceById"/>
        <!-- 用接口里定义的方法，根据City表中的province字段查出对应数据 -->
    </resultMap>
    <resultMap id="DistrictMap" type="com.zwq.domain.District">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="postcode" column="postcode"/>
        <!-- 跟一对一一样用association标签,实体类定义的成员,要跟数据库字段名对应上 -->
        <association property="city" column="city_id"
                     select="com.zwq.dao.AddressMapper.getCityById"/>
        <!-- 用接口里定义的方法，根据District表中的city_id字段查出对应数据 -->
    </resultMap>

    <select id="getAllProvince" resultType="com.zwq.domain.Province" >
        select * from province
    </select>
    <select id="getProvinceById" resultType="com.zwq.domain.Province" >
        select * from province where id = #{id}
    </select>
    <select id="getCityById" resultMap="CityMap" >
        select * from city where id = #{id}
    </select>

    <select id="getDistrictById" resultType="com.zwq.domain.District" >
        select * from district where id = #{id}
    </select>

    <select id="getCityByProvinceId" resultMap="CityMap">
        select * from city where province_id = #{provinceId}
    </select>

    <select id="getDistrictByCityId" resultMap="DistrictMap">
        select * from district where city_id = #{cityId}
    </select>


</mapper>